<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Workshop</title>
    <link rel="stylesheet" href="/stylesheets/event.css">
    <script defer src="event.js"></script>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link rel="icon" href="New DOT logo.png">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/index"><img src="./main images/New DOT logo (1).png" alt="Club Logo" class="logo"></a>
            <div class="menu-icon" id="menu-icon">
                <span id="hide_1"></span>
                <span id="rotate_1" style="position: absolute;top: 35px;" ></span>
                <span id="rotate_2"></span>
                <span id="hide_2"></span>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/event">Event</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Our Work</a>
                    <ul class="dropdown-menu">
                        <li><a href="/workshop">Workshops</a></li>
                        <li><a href="/project">Projects</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#our-team" class="dropdown-toggle">Our Team</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Our_team">Team</a></li>
                        <li><a href="https://devops-malnad.github.io/DevopsAttendanceSystem/">Login</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h1>JOURNEY SO FAR</h1>
        <div class="jsf hidden">
        <div class="centerContent ">
            <div class="leftCircle">
              <a href="#1">  <img src="/images/eventimages/HackMce1.0.png" alt="Left Circle Image"></a>
            </div>
            <div class="leftVerticalLine">
                <div class="label">2018</div>
            </div>

            <div class="rightVerticalLine">
                <div class="label">2018</div>
            </div>
            <div class="rightCircle">
               <a href="#2"> <img src="/images/eventimages/DotBytes.png" alt="Right Circle Image"></a>
            </div>
        </div>

        <div class="centerContent" style="top:200px;">
            <div class="leftCircle">
                <a href="#3"><img src="/images/eventimages/HackMce2.0.png" alt="Left Circle Image"></a>
            </div>
            <div class="leftVerticalLine">
                <div class="label">2022</div>
            </div>

            <div class="rightVerticalLine">
                <div class="label">2023</div>
            </div>
            <div class="rightCircle" style="background-color: black;">
               <a href="#4"><img src="/images/eventimages/HACK MCE 3.0 logo.png" alt="Right Circle Image"></a> 
            </div>
        </div>

        <div class="centerContent" style="top:400px;">
            <div class="leftCircle" style="background-color: black;">
               <a href="#5"> <img src="/images/eventimages/coming soon.jpg" alt="Left Circle Image"></a>
            </div>
            <div class="leftVerticalLine">
                <div class="label">2024</div>
            </div>
        </div>

        <div id="mainLine"></div>
    </div>
    </main>
    <section>
        <div class="box" id="5">
            <div class="cs hidden">
            <h2>Hack.MCE 4.0</h2>
            <p><b>Hack.MCE 4.0</b> Techno Gaming Fest 2024 - <b>Coming Soon!</b> <br>
             <b>Get Ready for the Ultimate Gaming Experience!</b> <br>
             Brace yourselves for the most epic gaming event of the year! Hack.MCE 4.0 Techno Gaming Fest 2024 is almost here, and we're gearing up to bring you an unforgettable experience. Whether you're a hardcore gamer, tech enthusiast, or just love all things gaming, this fest has something for everyone! <br>
             <b>Stay Tuned! <br></b>
             The countdown has begun, and we can't wait to reveal more exciting details. Follow us on social media for the latest updates, special announcements, and sneak peeks.</p>

        </div>
    </div>
        
        <div class="box" id="4">
            <div class="hm3 hidden">
            <h2>Hack.MCE 3.0</h2>
            <div class="container">
                
                <div class="swiper">
                        
                <div class="swiper-wrapper">
      
                <div class="swiper-slide"><img src="/imageseventimages/HackMce3.0/1.JPG" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/2.jpg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/3.jpg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/4.jpg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/5.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/6.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/7.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce3.0/8.jpeg" alt="HackMce3.0"></div>
                 </div>
                    
                <div class="swiper-pagination"></div>
  
    
                
  
                
                 </div>
            </div>
           <p> 
            <b>HACK.MCE 3.0</b> hosted by the DevOps team, was a grand event that took place on the 16th, 17th, and 22nd of December 2023. The festivities kicked off with the <b>Gameathon</b>, an eagerly anticipated inter-branch e-sports competition that energized the campus, with prelims held a week prior at the bustling college canteen. <br>
            The fest was more than just a competition—it was a celebration of creativity, collaboration, and community. It successfully brought together tech enthusiasts and gamers, fostering an environment of learning, networking, and fun. <b> HACK.MCE 3.0 </b> left a lasting impression, setting a high bar for future events and further solidifying its place as a premier tech and gaming fest in the college.</p>
        </div>
    </div>
        <div class="box" id="3">
            <div class="hm2 hidden">
            <h2>Hack.MCE 2.0</h2>
            <div class="container">
                
                <div class="swiper">
                        
                <div class="swiper-wrapper">
      
                <div class="swiper-slide"><img src="/images/eventimages/HackMce2.0/1.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce2.0/2.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce2.0/3.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce2.0/6.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce2.0/7.jpeg" alt="HackMce3.0"></div>
                 </div>
                    
                <div class="swiper-pagination"></div>
  
    
                
  
                
                 </div>
            </div>
            <p>The Techno Gaming Fest <b>HACK.MCE 2.0</b> took place on the 18th and 19th of June 2022, featuring a dynamic lineup of tech-based events such as <b>Debug</b>, <b>Circuitmania</b>, and <b>Webpage Designing</b>, among many others. This grand fest wasn’t just about tech; it also celebrated the spirit of gaming with <b>Gameathon</b>, an inter-branch e-sports event that brought out the competitive spirit among participants. The Gameathon prelims kicked off a week before the main event, creating a buzz in the college canteen as students gathered to showcase their gaming skills. The fest was a huge success, blending technology and gaming into an unforgettable experience for all attendees.</p>
        </div>
    </div>
        <div class="box" id="1">
            <div class="hm1 hidden" >
            <h2>Hack.MCE 1.0</h2>
            <div class="container">
                
                <div class="swiper">
                        
                <div class="swiper-wrapper">
      
                <div class="swiper-slide"><img src="/images/eventimages/HackMce1.0/1.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce1.0/2.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce1.0/3.jpeg" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/HackMce1.0/4.jpeg" alt="HackMce3.0"></div>
    
                 </div>
                    
                <div class="swiper-pagination"></div>
  
    
                
  
                
                 </div>
            </div>
            <p><b>A national-level Hackathon </b>centered on the theme "Lifestyle" took place on the 28th, 29th, and 30th of October 2018. The event featured an intense 24-hour coding competition, where <b>80</b> students from various districts participated, showcasing their technical skills and creativity. In addition to the Hackathon, a workshop on the emerging topic of blockchain was conducted, providing participants with valuable insights into this cutting-edge technology. The event brought together a diverse group of tech enthusiasts, fostering innovation and learning in a collaborative environment.</p>
        </div></div>
    
        <div class="box" id="2">
            <div class="Db hidden" >
            <h2> DOT Bytes</h2>
            <div class="container">
                
                <div class="swiper">
                        
                <div class="swiper-wrapper">
      
                <div class="swiper-slide"><img src="/images/eventimages/DotBytes/1.png" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/DotBytes/2.png" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/DotBytes/3.png" alt="HackMce3.0"></div>
                <div class="swiper-slide"><img src="/images/eventimages/DotBytes/4.png" alt="HackMce3.0"></div>
    
                 </div>
                    
                <div class="swiper-pagination"></div>
  
    
                
  
                
                 </div>
            </div>
            <p>
                The event <b>.Bytes</b> was successfully organized by the DevOps Team during the odd semester on the 3rd and 4th of November 2017. The event truly embodied the tagline,<b> "Where Technology Meets Fun," </b>as it creatively blended technical challenges with engaging activities, making technology both accessible and enjoyable for all participants <br>
                The event offered the team members valuable hands-on experience with software tools essential for application development, greatly enhancing their technical expertise. This not only inspired the students of MCE but also fostered a culture of innovation and creativity on campus. <br>
                Two standout events, <b>Thief City and Phat Anthaheli</b>, were major highlights of <b>.Bytes</b>. <b>Thief City</b> challenged participants with puzzles and problem-solving tasks rooted in coding and logic, while <b>Phat Anthaheli</b> brought a playful, competitive edge, pushing participants to think outside the box and apply their technical knowledge in novel ways. The success of <b>.Bytes </b>demonstrated the power of combining learning with fun, leaving a lasting impact on everyone involved and setting a high standard for future events
            </p>
        </div>
    </div>
    </section>

    <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/devops_malnad/" target="_blank" class="social-link">
                <img src="./event images/insta.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/company/devops-team-mce/posts/?feedView=all" target="_blank" class="social-link">
                <img src=/images/image/eventimages/linkedin.png" alt="LinkedIn">
            </a>
            <a href="mailto:devopsteammalnad@gmail.com" target="_blank" class="social-link">
                <img src=/images/image/eventimages/mail.png" alt="Gmail" class="mail">
            </a>
            <a href="https://github.com/Devops-Malnad" target="_blank" class="social-link">
                <img src=/images/image/eventimages/github.png" alt="GitHub">
            </a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {

         autoplay:{
            delay: 3000,
            disableOnInteraction: false,
         },

         loop: true,
         pagination: {
         el: '.swiper-pagination',
                     },
        
         navigation: {
             nextEl: '.swiper-button-next',
             prevEl: '.swiper-button-prev',
                     },
                     });
    </script>
    <script>
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry);
                if(entry.isIntersecting) {
                    entry.target.classList.add('show');
                } else {
                    entry.target.classList.remove('show');
                }
            });
        });
    
        const hiddenElements = document.querySelectorAll('.hidden');
        hiddenElements.forEach((e1) => observer.observe(e1));
    </script>
</body>
</html>
