<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Workshop</title>
    <link rel="stylesheet" href="/stylesheets/OT.css">
    <script defer src="OT.js"></script>
    <link rel="icon" href="New DOT logo.png">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="index"><img src="./main images/New DOT logo (1).png" alt="Club Logo" class="logo"></a>
            <div class="menu-icon" id="menu-icon">
                <span id="hide_1"></span>
                <span id="rotate_1" style="position: absolute;top: 35px;" ></span>
                <span id="rotate_2"></span>
                <span id="hide_2"></span>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/event">Event</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Our Work</a>
                    <ul class="dropdown-menu">
                        <li><a href="/workshop">Workshops</a></li>
                        <li><a href="/project">Projects</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#our-team" class="dropdown-toggle">Our Team</a>
                    <ul class="dropdown-menu">
                        <li><a href="/Our_team">Team</a></li>
                        <li><a href="https://devops-malnad.github.io/DevopsAttendanceSystem/">Login</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
    </header>


    <h1 id="head">Board Of Directors</h1>

    <main>
        <section class="workshops">
            <div class="workshop-slot">
                <img src="/images/OTImages/Hari.jpg" alt="Workshop 1 Image">
                <h3>Hari Gowda</h3>
                <p>President</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Sinchana.jpeg" alt="Workshop 1 Image">
                <h3>Sinchana M C</h3>
                <p>Vice President</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Harsha.JPG" alt="Workshop 1 Image">
                <h3>Harshavardhan H</h3>
                <p>General Secretary</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Bhuvan.jpg" alt="Workshop 1 Image">
                <h3>Bhuvan M</h3>
                <p>General Secretary</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Manaswini.jpg" alt="Workshop 1 Image">
                <h3>Manaswini P</h3>
                <p>Head of Internal Affairs</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Varun.jpg" alt="Workshop 1 Image">
                <h3>Varun L</h3>
                <p>Event Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Harish.png" alt="Workshop 1 Image">
                <h3>Harish Kumar S</h3>
                <p>Event Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Tejashree.jpg" alt="Workshop 1 Image">
                <h3>Thejashree A C</h3>
                <p>Creative Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Monisha.jpg" alt="Workshop 1 Image">
                <h3>Monisha S</h3>
                <p>Creative Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Greeshma.jpg" alt="Workshop 1 Image">
                <h3>Greeshma Antonet</h3>
                <p>Editorial Head</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Safi.JPG" alt="Workshop 1 Image">
                <h3>Syed Safiulla</h3>
                <p>Project Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Saniha.jpg" alt="Workshop 1 Image">
                <h3>Saniha M</h3>
                <p>Project Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Srinidhi.jpg" alt="Workshop 1 Image">
                <h3>Srinidhi H K</h3>
                <p>Technical Director</p>
            </div>                       
        </section>

        <h1 id="head">3rd Year</h1>
        <section class="workshops">
            <div class="workshop-slot">
                <img src="/images/OTImages/Akash.png" alt="Image 12">
                <h3>Akash Harihar</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/diya.png" alt="Workshop 1 Image">
                <h3>Diya S Thange</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Jnanavi.png" alt="Workshop 1 Image">
                <h3>Jnanavi Venugopal</h3>
                <p>Meeting Coordinator</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/jahnavi.png" alt="Workshop 1 Image">
                <h3>Jahnavi H K</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Kushal.jpeg.jpg" alt="Workshop 1 Image">
                <h3>Kushal C J</h3>
                <p>Digital Media Director</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Nithya.jpg" alt="Workshop 1 Image">
                <h3>Nithyashree C P</h3>
                <p>Student Member</p>
            </div>   
            <div class="workshop-slot">
                <img src="/images/OTImages/Nishi.jpg" alt="Workshop 1 Image">
                <h3>Nishigandha S</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Sanjana.jpg" alt="Workshop 1 Image">
                <h3>Sanjana Desh</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Sunitha.heic" alt="Workshop 1 Image">
                <h3>Sunitha P</h3>
                <p>Head Of Internal Affairs</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Tatvika.jpg" alt="Workshop 1 Image">
                <h3>Tatvika Jain</h3>
                <p>Treasurer</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/vishwas.png" alt="Workshop 1 Image">
                <h3>Vishwas M Bharadwaj</h3>
                <p>Student Member</p>
            </div>
        </section>

        <h1 id="head">2nd Year</h1>
        <section class="workshops">
            <div class="workshop-slot">
                <img src="/images/OTImages/aksh.png" alt="Workshop 1 Image">
                <h3>Akshatha</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Anuj.png" alt="Workshop 1 Image">
                <h3>Anuj</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Dhan.png" alt="Workshop 1 Image">
                <h3>Dhanyatha</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Harsh.png" alt="Workshop 1 Image">
                <h3>Harshini</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/PP.png" alt="Workshop 1 Image">
                <h3>Prasad Malegaon</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Mariam.png" alt="Workshop 1 Image">
                <h3>Mariam Noorani</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/liki.jpg" alt="Workshop 1 Image">
                <h3>Likith Shetty</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Yash.png" alt="Workshop 1 Image">
                <h3>Yashika D</h3>
                <p>Student Member</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/OTImages/Nithin.png" alt="Workshop 1 Image">
                <h3>Nithin H C</h3>
                <p>Associate Event Manager</p>
            </div>
        </section>
        
    </main>

    <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/devops_malnad/" target="_blank" class="social-link">
                <img src="/images/workshopimages/insta.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/company/devops-team-mce/posts/?feedView=all" target="_blank" class="social-link">
                <img src="/images/workshopimages/linkedin.png" alt="LinkedIn">
            </a>
            <a href="devopsteammalnad@gmail.com" target="_blank" class="social-link">
                <img src="/images/workshopimages/mail.png" alt="Gmail" class="mail">
            </a>
            <a href="https://github.com/Devops-Malnad" target="_blank" class="social-link">
                <img src="/images/workshopimages/github.png" alt="GitHub">
            </a>
        </div>
    </footer>
</body>
</html>
