<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link rel="icon" href="/images/newdotlogo.png">
    
    <title>Projects</title>
    
</head>
<body>
    <header>
        <div class="header">
            <a href="/index"><img src="/images/dotlogo.png" alt="Club Logo" class="dotLogo"></a>
            <div class="menu-icon" id="menu-icon">
                <!-- <span class="menu-icon-shape"></span>
                <span class="menu-icon-shape"></span>
                <span class="menu-icon-shape"></span> -->
                <span class="menu-icon-shape" id="hide_1"></span>
                <span class="menu-icon-shape" id="rotate_1" style="position: absolute;top: 43px;" ></span>
                <span class="menu-icon-shape" id="rotate_2"></span>
                <span class="menu-icon-shape" id="hide_2"></span>
            </div>
            <ul class="navbar" id="navbar">
                <li><a href="/index">Home</a></li>
                <li><a href="/event">Event</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Our Work</a>
                    <ul class="dropdown-menu">
                        <li><a href="/workshop">Workshops</a></li>
                        <li><a href="/project">Projects</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#our_team" class="dropdown-toggle">Our Team</a>
                    <ul class="dropdown-menu">
                        <li><a href="/our_team">Team</a></li>
                        <li><a href="https://devops-malnad.github.io/DevopsAttendanceSystem/">Login</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </div>
    </header>
    <!-- <div class="header">
        <img src="Project Page Images/New DOT logo.png" alt="DOT logo" class="dotLogo">
        <div class="menu-icon" id="menu-icon">&#9776;</div>
        <ul class="navbar" id="navbar">
            <li><a href="index.ejs">Home</a></li>
            <li><a href="event.ejs">Events</a></li>
            <li><a href="workshop.ejs">Workshop</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Our Team</a>
                <ul class="dropdown-menu">
                    <li><a href="Our team.ejs">Team</a></li>
                    <li><a href="https://devops-malnad.github.io/DevopsAttendanceSystem/">Login</a></li>
                </ul>
            </li>
            <li><a href="contact.ejs">Contact Us</a></li>
        </ul>
    </div> -->

    <div class="main">
        <div class="cards">
            <img src="/images/Projectimages/Attendance.jpg" alt="AMS"><br>
            <a href="https://devops-malnad.github.io/DevopsAttendanceSystem/" target="_blank"><h2>Attendance Management System</h2></a>
            <p>The DevOps Team Attendance System streamlines attendance management with two login options: Member Login for viewing records and Coordinator Login for marking attendance during meetings. Admins manage members and update records, while coordinators set meeting dates and log attendance. Its responsive design ensures smooth navigation and enhances team productivity.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/Cicada.png" alt="Cicada" id="cicada"><br>
            <h2>CICADA</h2>
            <p>This treasure hunt app, fully developed in-house by the DevOps team, challenges players with a series of questions where each correct answer unlocks the next clue. The first player to complete all rounds wins, offering an engaging and competitive way to test knowledge and problem-solving skills.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/IronMan Helmet.png" alt="IronMan Helmet"><br>
            <h2>IronMan Helmet</h2>
            <p>A working prototype of the IronMan Helmet was created by the Devops Team using Arduino UNO board and lasercut facility.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/DISC.png" alt="disc"><br>
            <h2>DISC Personality Test</h2>
            <p>The DevOps Team's app provides a streamlined DISC personality test experience, offering real-time analysis and personalized reports. It's designed for easy use, helping individuals and teams gain insights into personality traits for personal growth and team dynamics.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/pusthak.jpeg" alt="pusthak"><br>
            <h2>MCE Pusthak</h2>
            <p>This app is a comprehensive resource for engineering students, offering organized notes across all years of study. Users can easily access and review subject-specific materials, streamlining their study efforts and enhancing their understanding. With notes categorized by year and subject, the app provides a centralized platform for efficient learning.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/ThiefCity.png" alt="ThiefCity" id="thiefCity"><br>
            <h2>Thief City</h2>
            <p>Thief City is an Android game that uses GPS technology to turn players into virtual thieves. Teams hide diamonds around the city and then search for diamonds hidden by others. Players steal diamonds within their vicinity to boost their score.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/challan.png" alt="challanGen" id="challan"><br>
            <h2>Challan Generator</h2>
            <p>The Devops Team contributed to the Challan generator application for the college fees.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/justmce.svg" alt="justmce" id="jmce"><br>
            <h2>Just MCE</h2>
            <p>Just MCE application, a social network specific to the college is developed by DevOps Team.</p>
        </div>

        <div class="cards">
            <img src="/images/Projectimages/sms.svg" alt="sms" id="sms"><br>
            <h2>SMS service application</h2>
            <p>Devops Team contributed to the SMS service application developed to send SMS to students.</p>
        </div>
    </div>

    <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/devops_malnad/" target="_blank" class="social-link">
                <img src="/images/instalogo.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/company/devops-team-mce/posts/?feedView=all" target="_blank" class="social-link">
                <img src="/images/linkedinlogo.png" alt="LinkedIn">
            </a>
            <a href="devopsteammalnad@gmail.com" target="_blank" class="social-link">
                <img src="/images/maillogo.png" alt="Gmail">
            </a>
            <a href="https://github.com/Devops-Malnad" target="_blank" class="social-link">
                <img src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg" alt="GitHub">
            </a>
        </div>
    </footer>
    <script src="/javascripts/project.js"></script>

</body>
</html>
