<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Workshop</title>
    <link rel="stylesheet" href="/stylesheets/workshop.css">
    
    <link rel="icon" href="/images/newdotlogo.png">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/index"><img src="/images/dotlogo.png" alt="Club Logo" class="logo" ></a>
            <div class="menu-icon" id="menu-icon">
                <span id="hide_1"></span>
                <span id="rotate_1" style="position: absolute;top: 45.6px;" ></span>
                <span id="rotate_2"></span>
                <span id="hide_2"></span>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/event">Event</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Our Work</a>
                    <ul class="dropdown-menu">
                        <li><a href="/workshop">Workshops</a></li>
                        <li><a href="/project">Projects</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#our_team" class="dropdown-toggle">Our Team</a>
                    <ul class="dropdown-menu">
                        <li><a href="/our_team">Team</a></li>
                        <li><a href="https://devops-malnad.github.io/DevopsAttendanceSystem/">Login</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="workshops">
            <div class="workshop-slot">
                <img src="/images/workshopimages/Python.png" alt="Workshop 1 Image">
                <h3>Basic Python programming </h3>
                <p>The Basic Python Programming workshop featured two sessions: the first on April 23, from 2 PM to 4 PM in AB Block, introduced Python programming to all college students. The second session, held on April 30 at the same time and location, continued the basics of Python programming.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/webdev.jpg" alt="Workshop 2 Image">
                <h3>Fundamentals of Web Development</h3>
                <p>The Web Development workshop began with an introductory session on November 12, 2022, from 2 PM to 5 PM in AB Block, where club members covered the basics of HTML and CSS. The second session, held on November 19, 2022, at the same time and location, built on the first session and involved project assignments related to the topics covered.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/Video.png" alt="Workshop 3 Image">
                <h3>Wbasics On Video Editing</h3>
                <p>In November 2022, the club members held a session on basic video editing in the AB block. This session introduced participants to essential video editing techniques and tools, offering hands-on experience with popular editing software and enhancing their multimedia skills following the earlier web development workshops.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/Git.jpg" alt="Workshop 4 Image">
                <h3>Basics on Git Hub</h3>
                <p>On February 16, 2024, a session exclusively for club members was held in the AB block to provide a brief overview of Git and GitHub. Conducted by the club members, this session aimed to introduce essential version control concepts and practical usage of Git and GitHub, enhancing members' collaboration and project management skills.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/Canva.jpg" alt="Workshop 5 Image">
                <h3>Basics On using Canva</h3>
                <p>On January 13, 2024, we conducted an exclusive session for club members, concentrating on mastering Canva elements and basic tools. The event aimed to enhance members' Canva skills through hands-on assignments, ensuring practical experience and improvement. By the end, members were better equipped to use Canva effectively.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/Report.jpg" alt="Workshop 6 Image">
                <h3>Report and Letter formatting</h3>
                <p>On January 19, 2024, we held a session on report and letter formatting to boost vocabulary and formal writing skills. The session covered proper formatting techniques and provided practical examples and exercises. Participants gained insights into improving their writing style and structure, leaving with enhanced skills for effective formal communication.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/webdev.jpg" alt="Workshop 7 Image">
                <h3>Basic web development</h3>
                <p>The Web Development workshop started on May 22, 2024, with a session on HTML and CSS basics. The following day, participants learned portfolio building, focusing on creating their own portfolios. Both sessions were held in AB Block.</p>
            </div>
            <div class="workshop-slot">
                <img src="/images/workshopimages/Digital.jpg" alt="Workshop 8 Image">
                <h3>Digital Designing</h3>
                <p>A session was held on June 22, 2024, in the SA block, led by one of our former club members. This session provided a brief overview of poster design and the choice of colours for various scenarios, equipping participants with fundamental design principles and skills.</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/devops_malnad/" target="_blank" class="social-link">
                <img src="/images/instalogo.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/company/devops-team-mce/posts/?feedView=all" target="_blank" class="social-link">
                <img src="/images/linkedinlogo.png" alt="LinkedIn">
            </a>
            <a href="devopsteammalnad@gmail.com" target="_blank" class="social-link">
                <img src="/images/maillogo.png" alt="Gmail">
            </a>
            <a href="https://github.com/Devops-Malnad" target="_blank" class="social-link">
                <img src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg" alt="GitHub">
            </a>
        </div>
    </footer>
    <script src="/javascripts/workshop.js"></script>

</body>
</html>
